.introducao-bg {
    background-color:var(--cor-12);
    box-shadow: inset 0px -120px var(--cor-0);
}

.introducao img {
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}
.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}
.introducao h1 {
    margin-bottom: 32px;
 
    
}

.introducao p {

    margin-bottom: 20px;
 
}

@media (max-width: 1200px) {
    .introducao-bg {
        background: #111111;
        padding-top: 40px;
        box-shadow: inset 0px -60px var(--cor-0);
    }

    }

@media (max-width: 800px) {
    .introducao h1 {
        
        margin-bottom: 16px;
    }
    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo {
        padding-bottom: 0px;
    }
    .introducao img {
        height: 300px;
        width: 100%;
    }

    .introducao-bg {
        background: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0px -40px #ffffff;
    }
}