a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #caf;
    color: #217;
    transition: .3s;
}

a:hover {
    font-size: 3rem;
    background: #adf;
    color: #147;
}

a:focus { /* quando clica com o TAB no browser ele aciona */
    background-color: #cfa;
    color: #371;
    /*outline: none; tira a borda */
    
}

a:active { /*é quando clica no item no browser */
    background-color: #ffa;
    color: rgb(119, 17, 17);
}

/*a:visited { /* é quando o link já foi visitado. 
    background-color: rgb(173, 255, 170);
    color: #217;
}*/

